*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
#main{
    display: flex;
    width: 100%;
    height: 100%;
    background-color: red;
    overflow: hidden;
}
#part1{
    width: 25%;
    height: 100%;
    overflow: hidden;
    /* background-color: antiquewhite; */
}
#part2{
    width: 25%;
    height: 100%;
    background-color:aquamarine;
    overflow: hidden;
}
#part3{
    position: relative;
    width: 50%;
    height: 100%;
    background-color: black;
    overflow: hidden;
}
#div1{
    position: relative;
    width: 100%;
    height: 65%;
    background-color: black;
}
#div1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
#div2{
    position: relative;
    width: 100%;
    height: 35%;
    /* background-color:blue; */
    padding: 50px 50px;
    color: black;
    background-color: white;
    overflow: hidden;
}

#div2 h3{
    font-size: 46px;
    margin-bottom: 10px;
  
}
#div2 h6{
    font-size: 36px;
    margin-top: 10px;
}
#div2 h4{
    font-size: 12px;
    padding-top: 12px;
}
#div3{
    position: relative;
    width: 100%;
    height: 65%;
   background-color: #333233 ;
   color: white;
   overflow: hidden;
}
.div32{
    background-color: #D9AFD9;
    background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
}
.div33{
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
    
}
.div34{
    /* background-color: #08AEEA;
background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%); */
background-color: #08AEEA;
background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);


}
#div3 h3{
    position: absolute;
    font-size: 26px;
    transform: rotate(-90deg);
    top: 77%;
    left: 24%;
}
#div3 h4{
    position:absolute;
    font-size: 36px;
    transform: rotate(-90deg);
    top: 52%;
    right: 2%;
    white-space:nowrap;
}
#div4{
    position: relative;
    width: 100%;
    height: 35%;
    background-color: black;
    overflow: hidden;
}
#div4 #img2{
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
}
#nav{
     /* background-color: red; */
    position: absolute;
    top: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 50px;
    width: 100%;
    z-index: 25;
}
#nav a{
    margin-right: 10px;
    text-decoration: none;
    color: white;
    font-size: 20px;
}
#nav i{
    color: black;
    background-color: white;
    padding: 5px;
    border-radius: 50%;
    font-weight: 900;
}
#part3 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position: center;
}